@import '/src/assets/styles/color-variables.scss';

$duration-animation: 0.7s;


.proyect-card {
  // max-width: 300px;
  // height: 280px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  // border-radius: 20px 20px 18px 18px;
  -webkit-box-shadow: 0px 0px 0px 2px $color-blue-dark;
  -moz-box-shadow: 0px 0px 0px 2px $color-blue-dark;
  box-shadow: 0px 0px 0px 2px $color-blue-dark;

  img {
    position: absolute;
    height: 280px;
    width: 300px;
    // border-radius: 20px;
    background-color: $color-gray-light;

  }

  .proyect-information {
    position: relative;
    display: inherit;
    // height: 80px;
    flex-direction: inherit;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 300px;
    // background-color: #576e9eb5;
    background-color: #6e483ce8;
    // border-radius: 0px 0px 18px 18px;
    // padding-top: 10px;
    bottom: 0px;
    color: $color-white;
    transition-property: bottom, height;
    transition-duration: $duration-animation;
    overflow: hidden;
    .proyect-title {

      inline-size: 250px;
      overflow-wrap: break-word;
      font-size: large;
      text-transform: uppercase;
      font-weight: bold;
      color: #9e8857;
      // color: #212121;

    }

    .proyect-description {
      margin-top: 0px;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: small;
      color: #212121;
      transition-property: white-space;
      transition-duration: $duration-animation;
    }
  }
  @keyframes showbuttons {
    0%{
      opacity: 0;
      transform: translateY(50%);
    }
    100%{
      opacity: 100;
      transform: translateY(0);
    }
  }

  .card-buttons {
    opacity: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    grid-area: footer;
    display: none;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    transition-property: opacity;
    transition-duration: $duration-animation;

  }


  &:hover, &.show {
    .proyect-information {
      background-color: #6e483c;
      justify-items: center;
      justify-content: center;
      // border-radius: 18px;
      backdrop-filter: blur(10px);
      height: 100%;
      min-height: fit-content;
      bottom: 0px;
      color: $color-gray-light;

      .proyect-title {
        opacity: 100;
        color: #9e8857;
        // -webkit-text-stroke: 0.1px $color-white;
      }

      .proyect-description {
        inline-size: 250px;
        white-space: break-spaces;
        overflow: visible;
        overflow-wrap: break-word;
        text-overflow: initial;
        color: rgba(255, 255, 255, 0.762);
      }
    }

    .card-buttons {
      animation-name: showbuttons;
      animation-duration: $duration-animation+0.5;
      display: flex;
      opacity: 100;
    }
    button {
      color: rgba(255, 255, 255, 0.762);
      &:hover{
        background-color: #39496acf;
      }
    }
  }
  &after{
    .card-buttons{
      opacity: 100;
    }
  }
}
