<div class="intro-splash h-svh w-svw flex items-center justify-center" *ngIf="isVisible">
    <div class="splash-bg">
        <div *ngFor="let col of columns; let i = index" class="splash-column" [attr.data-col]="i">
        </div>
    </div>
    <div class="intro-content">
        <h1 class="intro-name">
            <span *ngFor="let letter of titleLetters; let i = index" class="monoton-regular ">
                <span [ngClass]="{'intro-text':true,'intro-text-up':i%2!=0, 'intro-text-down':i%2==0}" *ngIf="letter !== ' '">{{ letter }}</span>
                <span class="intro-text monoton-regular" *ngIf="letter === ' '">&nbsp;</span>
            </span>
        </h1>
        <p class="intro-subtitle inter-500">
            <span *ngFor="let subTitleletter of subtitleLetters; let i = index" class="intro-text inter-500 w-auto">
                <span *ngIf="subTitleletter !== ' '">{{ subTitleletter }}</span>
                <span *ngIf="subTitleletter === ' '">&nbsp;</span>
            </span>
        </p>
    </div>
</div>