@import '/src/assets/styles/color-variables.scss';
@import '/src/assets/styles/media.scss';
.experience-card{
  
  &-container{
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: $color-blue-dark;
    text-align: left;
    @include md{
      width: 90vw;
    }
  }
  &-header{
    margin-left: 1em;
    img{
      max-height: 80px;
      max-width: 80px;
    }
    display: flex;
    flex-direction: row;
    color: $color-white;
  }
  &-title{
    margin-left: 20px;
    // color: $color-blue-dark;
  }
  &-subtitle{
    margin-top: 10px;
    color: $color-blue-light;
    font-size: medium;
    font-weight: bolder;
  }
  &-body{
    max-width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 1em;
    font-size: small;
    span{
      margin-top: 10px;
      color: $color-blue;
      font-size: medium;
      font-weight: bolder;
    }
  }
  &-technologies{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    // justify-content: center;
    // align-items: center;
    &-logos{
      margin-left: 5px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 5px;
      // border-color: black;
      // border-style: solid;
      // border-width: 2px;
      img{
        max-width: 50px;
        max-height: 30px;
      }
      @include md{
        img{
          max-width: 40px;
          max-height: 25px;
        }
      }
    }
    span{
      font-size: medium;
    }
    @include md{
      span{
        font-size: 14px;
      }
    }
  }
  &-description{
    font-weight: normal;
  }
}
