@import '/src/assets/styles/color-variables.scss';
@import '/src/assets/styles/media.scss';
.experience-card{
  
  &-container{
    height: 100%;
    // border-radius: 20px;
    // padding: 20px;
    // background-color: #576d9e;
    // border: 4px solid #9e8857;
    background-color: transparent;
    text-align: left;
    // @include lg{
    //   width: 90vw;
    // }
  }
  img{
    max-height: 80px;
    max-width: 80px;
  }
  &-description{
    font-weight: normal;
  }
}
.custom-img-on-right{
  height:  calc(100% - 40px);
}
