@import '../../../assets/styles/media';

::ng-deep {
    .skill-section{
        .tree-separator-primary{
            width: 200px;
        }
        .tree-separator-primary, .tree-separator-secondary {
            @include sm{
                width: 10px !important;
            }
        }
        
    }
    .skill-section:nth-child(2) {
        .tree-separator-primary, .tree-separator-secondary {
            width: 124px;
        }
    }
    
    .skill-section:nth-child(3) {
        .tree-separator-primary, .tree-separator-secondary {
            width: 160px;
        }
    }
    
    .skill-section:nth-child(4) {
        .tree-separator-primary, .tree-separator-secondary {
            width: 104px;
        }
    }
    
}
.tree-separator-skill{
    height: calc(100%);
    @include md{
        height: calc(100% + 25px);
    }
}