<div id="experiences-container" class="experiences-container h-full relative">
  <div id="experiences-border-top" class="relative w-[4px] h-[20vh] md:h-[75vh] border-l-4 border-[#9e8857] left-1/2 -translate-x-1/2 top-0"></div>
  <div class="experiences-title w-fit relative justify-self-center mb-[60px] md:mb-[120px] mx-auto">
    <h3 id="experiences-title" class="monoton-regular text-3xl md:text-5xl p-2 min-w-[250px] md:min-w-[400px]">
      Experience
    </h3>
    <div id="experiences-border-1" class="absolute w-[90%] h-[35%] border-l-4 border-b-4 border-[#9e8857] left-0 bottom-0"></div>
    <div id="experiences-border-2" class="absolute w-[85%] h-[45%] border-t-4 border-r-4 border-[#9e8857] right-0 top-0"></div>
  </div>
  <div class="experiences-list relative">
    <div class="line-experiences-list absolute w-[0px] h-full border-r-2 border-l-2 border-[#9e8857] z-1 left-1/2 -translate-x-1/2 top-[-60px] md:top-[-120px]"></div>
    <div class="experiences-list-grid grid grid-cols-1 gap-[50px] xl:gap-[100px]">
      <div [id]="'experience-card-' + i"
           class="experiences-element"
           [ngClass]="{
              'col-span-1': true,
             'justify-end': i % 2 === 0,
             'justify-start': i % 2 !== 0
           }"
           *ngFor="let experience of experiences; let i = index">
        <app-experience-card 
          class="md:max-w-[50%]" 
          [technologies]="technologies" 
          [experience]="experience"
          [imageOnRight]="i % 2 === 0"></app-experience-card>
      </div>
    </div>
  </div>
<!-- 5730270 -->
</div>
