<div class="skill-section-container relative flex">
  <div [id]="'tree-separator-primary-' + sectionIndex" class="tree-separator-primary hidden md:block border-b-4 border-[#9e8857] h-[24px]"></div>
  <div class="">
    <div class="content-start relative w-fit">
      <div [id]="'tree-separator-title-' + sectionIndex" class=" tree-separator-title border-double border-b-4 border-l-0 sm:border-l-4 border-[#9e8857] absolute w-[100%] h-[22px] top-[6px] sm:top-[24px] left-[0px] sm:left-[-4px]"></div>
      <h3 [id]="'skill-section-title-' + sectionIndex" class="text-white/80 text-xl sm:text-4xl uppercase w-fit ms-3">{{ title }}</h3>
    </div>
    <div class="skills-technologies-container relative flex flex-row ps-[10px] sm:ps-[75px] pt-[10px] sm:pt-[40px]">
      <div [id]="'tree-separator-secondary-' + sectionIndex" class="tree-separator-secondary relative h-[40px] md:h-[70px] top-[-10px] md:top-[-35px] border-b-4 border-l-4 border-[#9e8857]"></div>
      <div [id]="'skill-tecnologies-' + sectionIndex" class="skill-tecnologies">
          <div *ngIf="technologies && skills" class="grid grid-cols-6 md:grid-flow-col gap-5 border border-4 border-[#9e8857] border-double px-5 py-2">
            <div class="col-span-1 content-center skill-tecnologie" [id]="'skill-card-' + sectionIndex + '-' + i" *ngFor="let keySkill of skills; let i = index">
              <app-skill-card [skillName]="technologies[keySkill]?.name"
                              [skillSVG]="technologies[keySkill].logoImg"
                              [urlSkill]="technologies[keySkill].organizationUrl"></app-skill-card>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
