<div class="about-card flex justify-center items-center">
  <div class="grid grid-cols-12 h-[600px]">
    <div class="profile-photo col-span-12 md:col-span-6 flex justify-center items-start">
      <div class="about-img">
        <div class="line-decoration"></div>
        <img src="/assets/img/about-photo2.jpg" alt="about photo">
      </div>
    </div>
    <div class="about-subtitle col-span-12 md:col-span-6 flex items-end justify-center">
      <div class="about-info px-3 md:px-0">
        <h2 class="text-[#9e8857] monoton-regular text-3xl md:text-4xl">
          <span class="typed-text"></span>
        </h2>
        <p class="about-message font-normal text-white/60">
          Beyond just code, I am a problem solver. As a <strong class="text-[#9e8857]">Systems Engineer</strong> and <strong class="text-[#9e8857]">Fullstack Developer</strong>, I specialize in crafting fast, scalable web applications by bridging the gap between robust <strong class="text-[#9e8857]">Back-End</strong> logic and modern <strong class="text-[#9e8857]">Front-End</strong> interfaces. I am driven by the goal of building simple, elegant systems to solve complex problems. From startups to large corporations, I have led critical migrations and optimized high-traffic platforms, achieving up to 60% reduction in operational costs while ensuring a superior user experience.
        </p>
      </div>
    </div>
  </div>
</div>
