<div class="about-card flex justify-center items-center">
  <div class="grid grid-cols-12 h-[600px]">
    <div class="profile-photo col-span-6 flex justify-center items-start">
      <div class="about-img">
        <div class="line-decoration"></div>
        <img src="/assets/img/about-photo2.jpg" alt="about photo">
      </div>
    </div>
    <div class="about-subtitle col-span-6 flex items-end justify-center">
      <div class="about-info">
        <h2 class="text-[#9e8857] monoton-regular text-4xl">
          <span class="typed-text"></span>
        </h2>
        <p class="about-message" [innerHTML]="aboutMessage"></p>
      </div>
    </div>
  </div>
</div>
