@import '../../../assets/styles/_media.scss';
@import '../../../assets/styles/color-variables.scss';

@font-face {
    font-family: 'GreyLightDemo';
    src: url('/assets/fonts/GREYLIGHT DEMO.OTF') format('opentype');
}
@font-face {
    font-family: 'CascadiaCode';
    src: url('/assets/fonts/CASCADIACODE-REGULAR.OTF') format('opentype');
}

.home-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // width: 100%;
    min-height: fit-content;
    position: relative;
    z-index: 1;
    
}
.home-banner-title{
    text-wrap: nowrap;
    overflow: hidden;
    text-align: right;
}
.home-banner-title-container{
    max-width: 1300px;
    width: fit-content;
}
.home-banner-title-selector{
    width: 10px;
    background-color: #9e885799;
    border-radius: 0px;
    display: block;
    animation: breathing 1s steps(1, end) infinite;
}
.home-banner-subtitle{
    color: $color-red;
    font-size: x-large;
    @include md{
    font-size: small;
    }
    text-align: center;
}
.home-banner-title-selected{
    background-color: #0000007b;
    width: fit-content;
}

@keyframes breathing {
    0% {
        // background-color: #f0f0f0;
        opacity: 1;
    }
    // 1%{
    //     // background-color: #f0f0f000;
    //     opacity: 0;
    // }
    // 30%{
    //     // background-color: #f0f0f000;
    //     opacity: 0;
    // }
    50%{
        // background-color: #f0f0f0;
        opacity: 0;
    }
    
}