@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/styles/media';
@import './assets/styles/breakpoint';
@import './assets/styles/fonts';
@import './assets/styles/color-variables.scss';
@import './assets/styles/navbar.scss';
@import './assets/styles/home.scss';
@import './assets/styles/about.scss';
@import './assets/styles/skills.scss';
@import './assets/styles/proyects.scss';
@import './assets/styles/experiences.scss';
@import './assets/styles/contact.scss';


html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;

}

body{
  margin: 0;
  font-family: Poppins;
  background-color: $color-background;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5{
  letter-spacing:2px;
}
h1,h2,h3,h4,p{
  margin: 0px;
  padding: 0px;
  color: $color-white;

}
a{
  color: $color-blue-light;
  &:hover{
    color: $color-blue;
  }
  &:active{
    color: $color-gray;
  }
}
h1{
  font-weight: bolder;
  font-size: 4em;
  @include md{
    font-size: 2em;
  }
}
h2{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-blue;
  @include md{
    font-size: 18px;
  }
}
h3{
  font-size: 36px;
  font-weight: bold;
  @include md{
    font-size: 24px;
  }
}
h4{
  font-size:large;
  @include md{
    font-size: medium;
  }
}

app-landing-page{
  width: 100%;
  height:fit-content;
}

button{
  border: none;
  border-radius: 10px;
  color: $color-blue-dark;
  background-color: $color-blue-light;
  padding-block: 7px;
  padding-inline:10px;
  font-family: Poppins;
  font-weight: bold;
  font-size: small;

  &:hover{
    cursor: pointer;
    background-color: $color-blue-dark;
    color: $color-white;
  }
  &:active{
    // cursor:default;
    color: $color-gray;
    background-color: $color-blue-dark;
  }
  @include md{
    font-size: medium;
  }
}
