@import './color-variables.scss';

$viewHeight: 100svh;

app-home{
  position: relative;
  display: block;
  height: $viewHeight !important;
  align-content: center;
}
.home-container{
  width: 100%;
}
.home-background{
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}
.home-banner{
  top: 35%;
  z-index: 1000;
  background-color: $color-black-difuminate;
  padding-block: 40px;
  
}
